<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="GBK" content="text/html" http-equiv="Content-Type">-->
    <meta charset="GBK">
    <title>登录界面</title>

</head>
<body>
<h1>登录界面</h1>
<FORM method="post">
    <table id = "login">
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="passwd"></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>

        </tr>
    </table>
</FORM>


</body>
</html>